@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ededed;
  --foreground: #171717;
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-sm: 0.75rem;
  --margin-md: 1rem;
  --margin-lg: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.25rem;
  --margin-big: 3.75rem;
  --margin-mega: 6.25rem;
  --margin-huge: 10rem;
  --margin-giga: 15rem;
  --primary: #25424c;
  --secondary: #43755f;
  --secondary-not-accessible: #6da48f;
  --tertiary: #c5cbc7;
  --highlights: #fff0c2;
  --gold: #FFD700;
  --silver: #C0C0C0;
  --bronze: #CD7F32;
  --iron: #43464B;
  --lost: #B5001E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body.dark{
  --background: #171717;
  --foreground: #ededed;
  --primary: #c5cbc7;
  --secondary: var(--secondary-not-accessible);
  background: #222222;
}

.bg-inverted {
  background: var(--foreground);
  color: var(--background);
}

.bg-system {
  background: var(--background);
}

.border-foreground {
  border-color: var(--foreground);
}

.bg-gold {
  background-color: var(--gold);
}

.bg-silver {
  background-color: var(--silver);
}

.bg-bronze {
  background-color: var(--bronze);
}

.bg-iron {
  background-color: var(--iron);
}

.bg-background-dark{
  background-color: var(--background);
}

.dark .bg-background-dark{
  background-color: #222222;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-highlights {
  color: var(--highlights);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-highlights {
  background-color: var(--highlights);
}


@keyframes shimmer {

  0% {

    transform: translateX(-100%);

  }

  100% {

    transform: translateX(100%);

  }

}

.text-foreground {
  color: var(--foreground);
}

.h2{
  font-weight: 700 !important;
  font-size: 3.75rem !important;
}

.h3{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.25rem;
}

.h4{
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}

.sub{
  font-weight: 600;
  font-size: 1.75rem;
}

.par{
  font-weight: medium;
  font-size: 1.25rem;
}

.small{
  font-weight: 400;
  font-size: 1rem;
}

.btn{
  border-width: 0.125rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}

.btn.primary{
  background-color: var(--secondary);
  color: var(--background);
  border-color: var(--secondary);
}

.btn.secondary{
  background-color: var(--background);
  color: var(--secondary);
  border-color: var(--secondary);
}

.link-secondary{
  color: var(--secondary);
  text-decoration: underline;
}

.link-tertiary{
  color: var(--tertiary);
  text-decoration: underline;
}

.card, div.container{
  box-shadow: 0 0.5rem 1rem var(--tertiary);
  border-radius: 0.375rem;
}

.dark .card, .dark div.container{
  box-shadow: none;
}

.card .btn-container{
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-lg);
}

.card .btn-primary{
  font-size: 1rem;
  padding: 0.75rem;
}

.callToAction{
  font-size: 0.75rem;
}

.matchWon{
  background-color: var(--secondary-not-accessible);
}

.dark .matchWon{
  background-color: var(--secondary);
}

.matchLost{
  background-color: var(--lost);
  color: var(--highlights);
}

.matchDraw{
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .hover-match{
    background-color: var(--highlights);
    color: var(--foreground);
  }
  .dark .hover-match{
    background-color: var(--iron);
  }
}