@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-system{
  background: var(--background);
}

.border-foreground {
  border-color: var(--foreground);
}

.bg-gold {
  background-color: #FFD700; /* Colore oro */
}
.text-gold {
  color: #FFD700;
}
.border-gold {
  border-color: #FFD700;
}

.bg-silver{
  background-color: #C0C0C0; /* Colore argento */
}
.text-silver {
  color: #C0C0C0;
}
.border-silver {
  border-color: #C0C0C0;
}

.bg-bronze {
  background-color: #CD7F32; /* Colore bronzo */
}
.text-bronze {
  color: #CD7F32;
}
.border-bronze {
  border-color: #CD7F32;
}

.bg-iron {
  background-color: #43464B; /* Colore ferro */
}
.text-iron {
  color: #43464B;
}
.border-iron {
  border-color: #43464B;
}

.bg-primary {
  background-color: #25424c; /* Colore primario */
}
.text-primary {
  color: #25424c;
}
.border-primary {
  border-color: #25424c;
}

.bg-secondary {
  background-color: #6da48f; /* Colore secondario */
}
.text-secondary {
  color: #6da48f;
}
.border-secondary {
  border-color: #6da48f;
}

.bg-tertiary {
  background-color: #c5cbc7; /* Colore terziario */
}
.text-tertiary {
  color: #c5cbc7;
}
.border-tertiary {
  border-color: #c5cbc7;
}

.bg-highlights {
  background-color: #fff0c2; /* Colore highlights */
}
.text-highlights {
  color: #fff0c2;
}
.border-highlights {
  border-color: #fff0c2;
}


@keyframes shimmer {

  0% {

    transform: translateX(-100%);

  }

  100% {

    transform: translateX(100%);

  }

}

.text-foreground {
  color: var(--foreground);
}